<section>
  <div class="page-header">
    <h1>{{vm.schedule._id ? 'Edit Schedule' : 'New Schedule'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.schedule._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.scheduleForm" class="form-horizontal" ng-submit="vm.save(vm.form.scheduleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Name</label>
          <input name="title" type="text" ng-model="vm.schedule.title" id="title" class="form-control" placeholder="Name" required autofocus>
          <div ng-messages="vm.form.scheduleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Schedule title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Description</label>
          <textarea name="content" data-ng-model="vm.schedule.content" id="content" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.schedule._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
