<section>
  <div class="page-header">
    <h1>Program {{vm.schedule.title}}</h1>
  </div>
  <div class="pull-right">
    <a ui-sref="schedules.edit({ scheduleId: vm.schedule._id })" class="btn btn-info" >
      <i class="glyphicon glyphicon-edit"></i> Edit
    </a>
  </div>
  <div class="container">
      <canvas id="line" class="chart chart-line" chart-data="vm.schedule.values"
      chart-labels="vm.labels"  chart-options="vm.options"
      chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
      </canvas>
    <!-- <h2>Hover Rows</h2> -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Move</th>
          <th></th>
          <th>Rate</th>
          <th>Goal</th>
          <th>Hold</th>
          <th ng-if="(vm.schedule.program.length > 1)" >Remove</th>
        </tr>
      </thead>
      <tbody>
        <form name="vm.form.programForm" class="form-horizontal" validate>
          <div class="form-group">
            <label class="control-label" for="startTemp">Start Temperature</label>
            <input type="number" name="startTemp" min="0" class="form-control" ng-change="vm.change()" ng-model="vm.schedule.startTemp">
          </div>
        <tr ng-repeat="segment in vm.schedule.program">
          <td>
          <!-- <button type="button" ng-if="$first" class='btn btn-default disabled btn-block btn-sm'><i class="glyphicon glyphicon-menu-up"></i></button> -->
          <button type="button" ng-if="!$first" class='btn btn-default btn-block btn-sm' ng-click="vm.move($index, 1)"><i class="glyphicon glyphicon-menu-up"></i></button>
          <button type="button" ng-if="!$last" class='btn btn-default btn-block btn-sm' ng-click="vm.move($index, 0)"><i class="glyphicon glyphicon-menu-down"></i></button>
          <!-- <button type="button" ng-if="$last" class='btn btn-default disabled btn-block btn-sm'><i class="glyphicon glyphicon-menu-down"></i></button> -->
        </td>
          <td name="segment"><h6 ng-bind="segment.segment = $index + 1"></h6></td>
          <td>
            <input id="rate" uib-tooltip='Rate in °C/hour' type="number" class="form-control" ng-change="vm.change()" name="rate" ng-model="segment.rate" required/>
            <div ng-messages="vm.form.scheduleForm.rate.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Segment rate is required</p>
            </div>
          </td>
          <td><input id="goal" uib-tooltip='Goal in °C' type="number" class="form-control" ng-change="vm.change()" name="goal" ng-model="segment.goal" required/></td>
          <td><input id="hold" uib-tooltip='Hold in minutes' type="number" class="form-control" ng-change="vm.change()" name="hold" ng-model="segment.hold" required/></td>
          <td><button type="button" uib-tooltip='Remove this segment' ng-if="(vm.schedule.program.length > 1)" class='btn btn-warning btn-block' ng-click="vm.remove(segment)" ><i class="glyphicon glyphicon-remove"></i></button></td>
        </tr>
      </form>
      </tbody>
    </table>
    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><i class="glyphicon glyphicon-education"></i>  Intructions</button>
    <button type="button" class='btn btn-default' ng-click="vm.addSegment()"><i class="glyphicon glyphicon-plus-sign"></i>  Add Segment</button>
    <!-- <button type="button" class='btn btn-success' ng-click="vm.save()"><i class="glyphicon glyphicon-floppy-save"></i>  Save</button> -->
    <button type="button" class='btn btn-success' type="submit" ng-click="vm.save()"><i class="glyphicon glyphicon-floppy-save"></i>  Save</button>

    <div uib-collapse="!isCollapsed">
      <div class="well well-lg">
        All rows must be filled.
        <ul>
          <li>Rate in °C/hour</li>
          &nbsp The rate must be more than or less than zero.
          <li>Goal in °C</li>
          <li>Hold in minutes</li>
          &nbsp The hold cannot be less than zero.
        </ul>
      </div>
    </div>
  </>

</section>
