<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-5">
        <h1>ControlPanels</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-5" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="controlPanel in vm.pagedItems" ui-sref="controlPanels.view({ controlPanelId: controlPanel._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="controlPanel.created | date:'mediumDate'"></span>
        by
        <span ng-if="controlPanel.user" ng-bind="controlPanel.user.displayName"></span>
        <span ng-if="!controlPanel.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="controlPanel.title"></h4>
      <p class="list-group-item-text" ng-bind="controlPanel.content"></p>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
