<section>
  <div class="page-header">
    <h1 ng-bind="vm.controlPanel.title"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.controlPanel.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.controlPanel.user" ng-bind="vm.controlPanel.user.displayName"></span>
      <span ng-if="!vm.controlPanel.user">Deleted User</span>
    </em>
  </small>
  <strong class="lead" ng-bind="vm.controlPanel.temp"></strong>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tr class="active">
        <td ng-bind="vm.controlPanel.temp"> </td>
      </tr>
    </table>
  </div>
  <p class="lead" ng-bind="vm.controlPanel.content"></p>
</section>
