<section>
  <div class="page-header">
    <h1>
      <span ng-if="vm.controlPanel.online" class="label label-success">Online</span>
      <span ng-if="!vm.controlPanel.online" class="label label-warning">Offline</span>
      {{vm.controlPanel.title}}
    </h1>
  </div>
  <div class="pull-right">
    <a ui-sref="controlPanels.edit({ controlPanelId: vm.controlPanel._id })" class="btn btn-info" >
      <i class="glyphicon glyphicon-edit"></i> Edit
     </a>
  </div>

  <div class="col-md-6">
  <small>
    <em class="text-muted">
      Owned by
      <span ng-if="vm.controlPanel.user" ng-bind="vm.controlPanel.user.displayName"></span>
      <span ng-if="!vm.controlPanel.user">Deleted User</span>
      kiln added on
      <span ng-bind="vm.controlPanel.created | date:'mediumDate'"></span>
    </em>
  </small>
  <h3>Temp over time</h3>
  <h1 ng-bind="vm.temp + ' C'"></h1>
  <h2 >{{ vm.updateTime | date : 'short'}}</h2>
  <canvas id="line" class="chart chart-line col-md-6" chart-data="vm.controlPanel.templot"
  chart-labels="vm.labels"  chart-options="vm.options"
  chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
  </canvas>
  
  <blockquote cite="http://">
    <code class="lead" ng-bind="vm.controlPanel.content"></code>
  </blockquote>
</div>
<div class=".col-md-4">
  <br>
  <h3>Schedule</h3>
  <div class="form-group col-md-6">
    <label for="sel1">Select Schedule:</label>
    <div class="row">
    <div class="col col-3">
    <select ng-change="change(schedule)" ng-model="vm.controlPanel.schedule" ng-options="(schedule.title + ' - ' + schedule.content) for schedule in vm.schedules" class="form-control"  id="sel1">
      <!-- <option ng-if="vm.schedules.length <= 0" value="">Please make a Schedule on the Schedule tab</option> -->
      <!-- <option ng-if="vm.schedules.length >= 1" value="">Pick a Schedule to run</option> -->
      <option ng-if="vm.schedule.title" value="">Pick a Schedule to run</option>
    </select>
    </div>
    <div class="col col-1">
     <button type="button" ng-disabled="!vm.controlPanel.schedule._id" ui-sref="schedules.program({ scheduleId: vm.controlPanel.schedule._id })" class="btn btn-info"> <i class="glyphicon glyphicon-edit"></i></button>
     </div>
    </div>
    
  </div>

  <div class="panel-heading">
    <h3 class="panel-title">Chart of Schedule</h3>
  </div>
  <div class="panel-body">
  <!-- <chartist class="ct-chart" chartist-data="{{vm.barData}}" chartist-chart-type="Bar"></chartist> -->
  <canvas id="line" class="chart chart-line .col-md-6" chart-data="vm.controlPanel.schedule.values"
  chart-labels="vm.labels"  chart-options="vm.options"
  chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
  </canvas>
  </div>
  <h6>Settings</h6>
  <!-- TODO -->
  <div class="btn-group">
    <!-- TODO -->
    <button type="button" ng-disabled="!vm.controlPanel.online || !vm.controlPanel.schedule._id" class="btn btn-success" ng-click="vm.start()"><i class="glyphicon glyphicon-fire"></i> Start</button>
    <button type="button" class="btn btn-danger" ng-click="vm.stop()">Stop</button>
  </div>
  <p ng-bind="vm.controlPanel.scheduleStatus"></p>

  <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="vm.controlPanel.scheduleProgress" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.controlPanel.scheduleProgress}}%">
    <span class="sr-only">{{vm.controlPanel.scheduleProgress}}% Complete</span>
  </div>
  <!-- <small><em>Object (changes type based on value)</em></small>
<uib-progressbar class="progress-striped active" value="dynamic" type="{{vm.controlPanel.scheduleProgress}}">{{vm.controlPanel.scheduleProgress}} <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar> -->
</div>
</div>

<input type="number" id="tempText" name="tempText" class="form-control" ng-model="vm.tempText" ng-change="vm.sendtemp()" value="{{vm.temp}}">
</section>
