<section>
  <div class="page-header">
    <h1>Memes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="meme in vm.memes" ui-sref="memes.view({ memeId: meme._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="meme.created | date:'mediumDate'"></span>
        by
        <span ng-if="meme.user" ng-bind="meme.user.displayName"></span>
        <span ng-if="!meme.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="meme.title"></h4>
      <p class="list-group-item-text" ng-bind="meme.content"></p>
    </a>
  </div>
</section>
