<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="proKilnLogo" class="logo img-responsive text-center center-block" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A kiln solution
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>A kiln solution</h2>
    <p>A kiln (/kɪln/ or /kɪl/,[1] originally pronounced "kill", with the "n" silent) is a thermally insulated chamber, a type of oven, that produces temperatures sufficient to complete some process, such as hardening, drying, or chemical changes. Kilns have been used for millennia to turn objects made from clay into pottery, tiles and bricks. Various industries use rotary kilns for pyroprocessing—to calcinate ores, to calcinate limestone to lime for cement, and to transform many other materials.</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>S</strong>ecure</h2>
      <p>Security is the degree of resistance to, or protection from, harm. It applies to any vulnerable and/or valuable asset, such as a person, dwelling, community, item, nation, or organization.
        As noted by the Institute for Security and Open Methodologies (ISECOM) in the OSSTMM 3, security provides "a form of protection where a separation is created between the assets and the threat." These separations are generically called "controls," and sometimes include changes to the asset or the threat.
      </p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ccurate</h2>
      <p>
        Accuracy has two definitions:

        More commonly, it is a description of systematic errors, a measure of statistical bias; as these cause a difference between a result and a "true" value, ISO calls this trueness.
        Alternatively, ISO defines accuracy as describing a combination of both types of observational error above (random and systematic), so high accuracy requires both high precision and high trueness.
        In simplest terms, given a set of data points from a series of measurements, the set can be said to be precise if the values are close to the average value of the quantity being measured, while the set can be said to be accurate if the values are close to the true value of the quantity being measured. The two concepts are independent of each other, so a particular set of data can be said to be either accurate, or precise, or both, or neither.      </p>
    </div>
    <div class="col-md-3">
      <h2><strong>F</strong>ast</h2>
      <p>
        1.
        moving or able to move, operate, function, or take effect quickly; quick; swift; rapid:
        a fast horse; a fast pain reliever; a fast thinker.
        2.
        done in comparatively little time; taking a comparatively short time:
        a fast race; fast work.
        3.
        indicating a time in advance of the correct time, as of a clock.
        noting or according to daylight-saving time.
      </p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>asy</h2>
      <p>
        1.
        not hard or difficult; requiring no great labor or effort:
        a book that is easy to read; an easy victory.
        2.
        free from pain, discomfort, worry, or care:
        He led an easy life.
        3.
        providing or conducive to ease or comfort; comfortable:
        an easy stance; an easy relationship.
      </p>
    </div>
  </div>
  <br>Samuel Henry
</section>
