<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="proKilnLogo" class="img-responsive text-center center-block" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A kiln solution
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>A kiln solution</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisi turpis, blandit sit amet sem non, tempus viverra nisl. Praesent eleifend sem vitae augue sodales dignissim. Praesent rutrum tellus quis metus accumsan tincidunt. Sed enim nisi, sodales a nibh ut, laoreet commodo orci. Aliquam aliquam eros erat. Donec at dolor auctor, ultrices sapien sit amet, placerat ante. Maecenas non luctus quam. Aenean tincidunt leo sem, ut consequat lorem iaculis ac.</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>S</strong>ecure</h2>
      <p>Vestibulum feugiat purus quis bibendum rutrum. Nullam pellentesque est gravida magna porttitor volutpat. Donec aliquet mollis faucibus. Pellentesque sed tempus mi. Nunc eget odio id erat ultricies dictum ac fermentum diam. Nam porttitor interdum elit, eu luctus purus consequat at. Nunc sollicitudin ornare lacus, nec sollicitudin lectus rutrum eget. Nullam enim justo, semper id rhoncus vitae, semper cursus nunc. Aliquam vestibulum mi vitae lorem efficitur, quis tincidunt enim commodo. Donec convallis arcu vitae metus pulvinar, luctus ultrices lacus euismod. Nunc eu quam non tellus commodo euismod.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>F</strong>ast</h2>
      <p>
          Etiam semper eu turpis vitae vestibulum. Integer aliquet massa pharetra neque lacinia facilisis sit amet at felis. Nullam tincidunt blandit auctor. Curabitur aliquet neque at sagittis fringilla. Quisque efficitur sem ut orci ultricies malesuada. Duis bibendum tincidunt mollis. Etiam dapibus purus arcu, in condimentum mauris pulvinar vitae. Duis id nisl congue, pellentesque magna at, lacinia eros. Fusce consectetur sem nulla, vitae dignissim turpis ultrices at. Nunc sagittis condimentum erat eget mollis. Sed semper tellus in metus porttitor bibendum.
      </p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ccurate</h2>
      <p>
          Quisque ligula lacus, tincidunt id faucibus id, tincidunt eu mi. Donec tristique vehicula tellus malesuada ultrices. Duis tincidunt orci tortor, et bibendum augue convallis quis. Integer imperdiet augue a arcu sollicitudin venenatis. Nullam ut sem ultricies, convallis ex in, interdum nisl. Ut malesuada commodo justo, a sollicitudin tortor suscipit ac. Sed mollis neque at elit interdum elementum vitae scelerisque magna. Suspendisse non enim lacus.
      </p>
    </div>
    <div class="col-md-3">
      <h2><strong>S</strong>imple</h2>
      <p>
          Aenean tempus metus sed lorem scelerisque, nec varius magna consequat. Maecenas nec lacus ut nunc fermentum interdum accumsan vitae libero. Nunc sagittis pellentesque euismod. Sed eget lacus tellus. Pellentesque ac vulputate ante. Maecenas vitae tristique lorem, non blandit risus. Nullam id mi posuere, vehicula urna eget, faucibus arcu. Vestibulum sed malesuada dui. Nunc id nibh pulvinar, placerat mi in, sodales justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </div>
  </div>
  <br>Samuel Henry
</section>
