<section>

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="proKiln logo" class="logo img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        A kiln solution for 2017+
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="about" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <!-- <uib-carousel interval="myInterval" active="activeSlide">
      <uib-slide ng-repeat="slide in vm.slides" index="$index">
          <img ng-src="{{slide.image}}" style="margin:auto; width:100%">
          <div class="carousel-caption">
         
          </div>
      </uib-slide>
  </uib-carousel> -->
  <div>
      <h2>
          Established in 2017, proKiln has delivered the most advanced Kiln controller to-date.  
      </h2>
    <h5>
        Our goal is to create and maintain the most advanced Kiln controller to ever exist. We are a small but dedicated team of software engineers. We value balancing clean User experience  functionality to produce the greatest experience from our products. Our Kiln controller combines the traditional functionality with a modern day internet upgrade.         
    </h5>
  </div>

  <div class="well">
    <h4>proKiln</h4>
    <p>
Find out more infomation about proKiln bellow
      <ul>
        <li><a target="_blank" ui-sref="about">About</a>
        </li>
      </ul>
      <ul>
          <li><a target="_blank" ui-sref="buy">Buy</a>
          </li>
        </ul>
        <ul>
            <li><a target="_blank" ui-sref="documentation">Documentation</a>
            </li>
          </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The proKiln Team.
</section>
