<section>
  <div class="page-header">
    <h1>{{vm.controlPanel._id ? 'Edit ControlPanel' : 'New ControlPanel'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.controlPanel._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.controlPanelForm" class="form-horizontal" ng-submit="vm.save(vm.form.controlPanelForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.controlPanel.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.controlPanelForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">ControlPanel title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.controlPanel.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="temp">Temp</label>
          <input name="temp" type="number" ng-model="vm.controlPanel.temp" id="temp" class="form-control">
        </div>
        <div class="form-group">
          <label class="checkbox-inline"><input type="checkbox" ng-model="vm.controlPanel.online" value="">{{vm.controlPanel.online ? 'Online' : 'Offline'}}</label>
          </button>
       </div>
       schedule
       <label class="control-label" for="schedule">schedule</label>
       <input name="schedule" type="text" ng-model="vm.controlPanel.schedule" id="schedule" class="form-control">
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.controlPanel._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
