<section>
  <div class="page-header">
    <h1>
      Userss
      <a class="btn btn-primary pull-right" data-ui-sref="admin.userss.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="users in vm.userss" data-ui-sref="admin.userss.edit({usersId: users._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="users.created | date:'mediumDate'"></span>
        by
        <span ng-if="users.user" ng-bind="users.user.displayName"></span>
        <span ng-if="!users.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="users.title"></h4>
      <p class="list-group-item-text" data-ng-bind="users.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="userss.$resolved && !userss.length">
    No userss yet, why don't you <a data-ui-sref="admin.userss.create">create one</a>?
  </div>
</section>
